<header>
  <nav class="navbar"> 
    
    <!-- Logo --> 
     <a [routerLink]="['/']" 
      class="logo"> 
      Mi Tienda Online
    </a> 
    
    <!-- Navegación --> 
     <div class="links"> 
      
    <!-- Enlace Productos --> 
     <a [routerLink]="['/products']">
      Productos 
    </a> 
    
    <!-- Enlace Carrito --> 
     <div class="cart-container" (click)="goToCart()"> 
      <svg class="cart-icon" viewBox="0 0 24 24" fill="none"> 

      <path d="M3 3h2l3.6 7.59a1 1 0 0 0 .9.59H17a1 1 0 0 0 .92-.62l3-7A1 1 0 0 0 20 2H6" 
      stroke="currentColor" 
      stroke-width="2" 
      stroke-linecap="round" 
      stroke-linejoin="round"/> 
      
      <circle cx="9" cy="21" r="1" fill="currentColor"/> 
      <circle cx="17" cy="21" r="1" fill="currentColor"/> 
    </svg> 
    <span class="cart-badge">{{ cart.itemCount() }}
      Carrito
    </span> 
  </div>
  
  <!-- 🔐 Si NO está logueado --> 
   <div *ngIf="!auth.loggedIn()">
   <a [routerLink]="['/login']">
    Iniciar Sesión 
  </a> 
  
  <a [routerLink]="['/register']" 
    class="btn-primary"> 
    Registrarse 
 </a> 
</div> 

<!-- 👤 Si está logueado --> 
 <div *ngIf="auth.loggedIn()">
  <span> 
      Hola, {{ auth.userName() }} 
  </span> 
  
  <!-- Enlace Perfil -->
  <a [routerLink]="['/profile']"> 
  Mi Perfil 
</a>
  
  <button (click)="logout()" 
      class="btn-danger"> 
     Cerrar sesión 
    </button> 
   </div> 
   
  </div> 
 </nav> 
</header>