<div class="orders-history-container">
  
  @if (isLoading()) {
    <div class="orders-loader">
      <div class="spinner"></div>
      <p>Recuperando tus compras desde Render...</p>
    </div>
  } @else {
    
    @if (orders().length === 0) {
      <div class="no-orders-box">
        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
        <h4>Aún no has realizado ningún pedido</h4>
        <p>Tu historial de compras aparecerá aquí en cuanto completes tu primer pedido en la pasarela de Checkout.</p>
      </div>
    } @else {
      <div class="orders-list">
        @for (order of orders(); track order.id) {
          <div class="order-ticket-card">
            
            <div class="ticket-header">
              <div class="ticket-meta">
                <span class="order-id-label">Pedido #{{ order.id }}</span>
                <span class="order-date">{{ order.createdAt | date:'dd/MM/yyyy - HH:mm' }}</span>
              </div>
              
              <span class="status-badge" [ngClass]="order.status.toLowerCase()">
                {{ order.status || 'Procesando' }}
              </span>
            </div>

            <div class="ticket-body">
              @for (item of order.items; track $index) {
                <div class="ticket-item-row">
                  <div class="item-info">
                    <span class="item-qty">{{ item.quantity }}x</span>
                    <p class="item-name">Artículo Técnico (Ref: #{{ item.productId }})</p>
                  </div>
                  <span class="item-price">{{ (item.price * item.quantity) | currency:'EUR' }}</span>
                </div>
              }
            </div>

            <div class="ticket-footer">
             <div class="total-box">
              <span class="total-text">Total Pagado:</span>
              <span class="total-amount">{{ order.total | currency:'EUR' }}</span>
            </div>

            <button class="btn-download-invoice" (click)="downloadInvoice(order.id)" title="Descargar factura en formato PDF">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round">
                  <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path>
                  <polyline points="7 10 12 15 17 10"></polyline>
                  <line x1="12" y1="15" x2="12" y2="3"></line>
                </svg>
                <span>Factura PDF</span>
              </button>
            </div>

          </div>
        }
      </div>
    }

  }
</div>