<div class="catalog-container">

  <h2 class="catalog-title">Catálogo de Productos</h2>

  @if (loading() && showSlowServerMessage()) {
  <div class="alert alert-info">
    🚀 <strong>Nota:</strong> El servidor de Render está "despertando". 
    La primera carga puede tardar unos 30-60 segundos. ¡Gracias por esperar!
  </div>
}

  <!-- SOLO ADMIN -->
  <button *ngIf="auth.isAdmin()"
    [routerLink]="['/products/create']"
    class="btn-create">
    + Crear Producto
  </button>

  <table class="product-table" *ngIf="products().length > 0">
    <thead>
      <tr>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let product of products(); trackBy: trackById">
        <td><img [src]="product.imageUrl" class="product-image"></td>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price | currency:'EUR':'symbol' }}</td>

        <td>
          <div class="action-buttons">

            <!-- USER y ADMIN pueden comprar -->
            <button (click)="cartService.addToCart(product)" class="btn-buy">
              Comprar
            </button>

            <!-- SOLO ADMIN -->
            <a *ngIf="auth.isAdmin()" 
               [routerLink]="['/products/edit', product.id]" 
               class="btn-edit">
              Editar
            </a>

            <!-- SOLO ADMIN -->
            <button *ngIf="auth.isAdmin()" 
                    (click)="deleteProduct(product.id)" 
                    class="btn-delete">
              Eliminar
            </button>

          </div>
        </td>
      </tr>
    </tbody>
  </table>

   <footer>
    © 2026 Mi Tienda Online — Proyecto libre V.2.0.0 • 
    <a routerLink="/privacy" class="footer-link">Política de Privacidad</a> • 
    <a routerLink="/terms" class="footer-link">Términos de Uso</a>
  </footer>
</div>

