<div class="catalog-container">

  <h2 class="catalog-title">Catálogo de Productos</h2>

  <!-- SOLO ADMIN -->
  <button *ngIf="auth.isAdmin()"
    [routerLink]="['/products/create']"
    class="btn-create">
    + Crear Producto
  </button>

  <table class="product-table" *ngIf="products().length > 0">
    <thead>
      <tr>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let product of products(); trackBy: trackById">
        <td><img [src]="product.imageUrl" class="product-image"></td>
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price | currency:'EUR':'symbol' }}</td>

        <td>
          <div class="action-buttons">

            <!-- USER y ADMIN pueden comprar -->
            <button (click)="cartService.addToCart(product)" class="btn-buy">
              Comprar
            </button>

            <!-- SOLO ADMIN -->
            <a *ngIf="auth.isAdmin()" 
               [routerLink]="['/products/edit', product.id]" 
               class="btn-edit">
              Editar
            </a>

            <!-- SOLO ADMIN -->
            <button *ngIf="auth.isAdmin()" 
                    (click)="deleteProduct(product.id)" 
                    class="btn-delete">
              Eliminar
            </button>

          </div>
        </td>
      </tr>
    </tbody>
  </table>

</div>